[data-category="item"] { color: #e6c778; }
[data-category="puzzle"] { color: #89d7d4; }
[data-category="event"] { color: #b4d897; }
[data-category="horror"] { color: #d8b3d8; }
[data-category="boss"] { color: #ffa699; }
